appdirs
certifi
charset-normalizer
click
cmake
datasets
docker-pycreds
filelock
fsspec
gitdb
GitPython
huggingface-hub
idna
Jinja2
lit
llvmlite
MarkupSafe
mpmath
networkx
numba
numpy
nvidia-nvtx-cu11
packaging
pathtools
protobuf
psutil
python-dotenv
PyYAML
regex
requests
safetensors
sentencepiece
sentry-sdk
setproctitle
six
smmap
sympy
tokenizers
torch
tqdm
transformers
triton
typing_extensions
urllib3
wandb
xformers
